{{> header}}
{{> navbar}}

<h2 class="text-center form-title">My Car</h2>

<div class="row row-cols-1 row-cols-md-3 g-4 container mx-auto mb-5">
  {{#each cars}}
  <div class="col">
    <div class="card h-100">
      <img src="{{this.photo}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
        <p class="card-text">Rp. {{this.price}}/day</p>
        <p class="card-text">Status : <strong>{{this.status}}</strong></p>
        <a href="/car-details/{{this.id}}" class="btn btn-primary">Details</a>
      </div>
    </div>
  </div>
  {{/each}}
</div>


</div>

{{> footer}}
